.panel {
  background: #dfe3e6;
  border-radius: 3px;
  border: 1px solid darken(#dfe3e6, 2%);
  width: 272px;
  margin-right: 12px;
  overflow: hidden;
  &--empty {
    .add-form {
      padding-top: 12px;
    }
  }
  &__items {
    padding: 12px 12px 0 12px;
  }
}