$MainFont: 'Roboto';

* {
  outline: none;
  font-family: $MainFont, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

html,
body,
#root {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#root {
  background-image: url('./assets/background1.jpg');
  background-size: cover;
  padding: 20px;
}

.app {
  display: flex;
  align-items: flex-start;
  white-space: nowrap;
}

button,
textarea {
  font-size: 14px;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  cursor: pointer;
  img {
    width: 12px;
  }
  &:hover {
    background-color: rgba(9, 30, 66, 0.13);
  }
}

* {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    &-thumb {
      cursor: pointer;
      border-radius: 4px;
      background-color: #cacdd0;
    }

    &-track {
      border-radius: 4px;
      // background-color: $scroll-bg;
      background-color: transparent;
    }
  }
  /* styles for Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #cacdd0 #e7e7e7;
  /* --- */
}
